p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
}

.page {
  background: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.logo {
  margin-right: 93px;
}

.text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navigation {
  display: flex;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.item-link:hover,
.item-link:focus {
  color: #2196f3;
}

.item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.item,
.list-item,
.item-list,
.main-item,
.hero-item {
  list-style: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container-box {
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
}

.box-secondary-menu {
  padding-top: 50px;
  padding-bottom: 94px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  padding: 10px 32px;
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero-menu {
  display: flex;
  gap: 30px;
  margin-top: 94px;
}

.tagline {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.tagline {
  margin-top: 94px;
  margin-bottom: 10px;
}

.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.subtitle {
  margin-top: 118px;
  margin-bottom: 50px;
}

.subtitle-lead {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.subtitle-lead {
  margin-top: 94px;
  margin-bottom: 50px;
}

.secondary-menu {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.box-section {
  background: #f5f4fa;
  padding-top: 100px;
  padding-bottom: 100px;
}

.secondary-menu-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 94px;
}

.secondary-item {
  list-style: none;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.secondary-menu-list {
  display: flex;
  margin-top: 50px;
  margin-bottom: 94px;
}

.caption {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
  letter-spacing: 0.03em;
}

.caption {
  margin-top: 30px;
  margin-bottom: 10px;
}

.desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  letter-spacing: 0.03em;
}

.desc {
  margin-top: 10px;
  margin-bottom: 30px;
}

.box {
  background: #2f303a;
  padding-top: 50px;
  padding-bottom: 50px;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}

.list-item-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.logo-icon {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.text-logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
  text-decoration: none;
}

.logo-icon {
  padding-top: 60px;
  padding-bottom: 20px;
}

.address-list {
  padding-top: 20px;
  padding-bottom: 9px;
}

.button:hover,
.button:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: #2196f3;
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}

.items {
  display: flex;
  gap: 8px;
  margin-top: 94px;
  margin-bottom: 50px;
  justify-content: center;
}

.main-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.main-title {
  padding-top: 20px;
  padding-bottom: 4px;
  padding-right: 24px;
  padding-left: 24px;
}

.paragraph-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}

.hero-list-item {
  padding-bottom: 94px;
}

.main-page {
  background: #ffffff;
  border: 1px solid #ececec;
}

.hero-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.hero-item {
  background: #ffffff;
  border: 1px solid #eeeeee;
}

.hero-item {
  width: calc((100% - 60px) / 3);
  margin-bottom: 30px;
}
